.flex-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

body {
    background-color: #D4BECE;
    font-family: Tahoma, Verdana, sans-serif
}

h1 {
    color: #A16D8F;
    font-family: "Brush Script MT", "Lucida Handwriting", Helvetica, cursive;
}

h2 {
    color: #A16D8F;
    font-family: "Brush Script MT", "Lucida Handwriting", Helvetica, cursive;
}

h3 {
    color: #636363;
}

p {
    color: #636363;
}

.navBar {
    font-family: "Brush Script MT", "Lucida Handwriting", Helvetica, cursive;
}

.navBarLinks {
    color: #A16D8F;
}

.navBarLinks:hover {

}