/*Layout*/
body {
    background-color: #D4BECE;
    font-family: "Mitr", sans-serif;
    display: flex;
    flex: 20%;
    flex-direction: column;
    justify-content: center;
    padding: 0 50px 0 50px;
    font-weight: 300;
}

/*Navigation Bar styling*/
.navBar {
    font-family: "Molle", cursive;
}
.navBarLinks {
    color: #A16D8F;
}

/*About Me section styling*/
#aboutMe {
    display: flex;
    flex-direction: row;
    flex: 50%;
    align-content: center;
}
#aboutText {
    padding: 0 50px 0 50px;
}
#profilePic {
    height: 70vh;
    width: auto;
    border-radius: 50%;
}
#myName {
    font-size: 5vw;
    text-align: center;
    color: #A16D8F;
    font-family: "Molle", cursive;
    text-shadow: 1px 1px 1px #636363;
    margin: 0;
    font-weight: lighter;
}
#jobTitle {
    font-size: 2.5vw;
    color: #636363;
    text-align: center;
    margin: 0;
    font-weight: 300;
}
.aboutParagraph {
    color: #636363;
    font-size: 1.25vw;
}


/*Font styling & color*/
h2 {
    color: #A16D8F;
    font-size: 3.5vw;
    font-family: "Molle", cursive;
    text-shadow: 1px 1px 1px #636363;
    text-align: center;
}