/*Layout*/
body {
    background-color: #D4BECE;
    font-family: "Mitr", sans-serif;
    display: flex;
    flex: 20%;
    flex-direction: column;
    justify-content: center;
    padding: 0 50px 0 50px;
    font-weight: 300;
}

/*Navigation Bar styling*/
.navBar {
    display: flex;
    font-family: "Molle", cursive;
    align-items: center;
    border-bottom: rgba(99, 99, 99, 0.2) solid 0.1vh;
}
#logo {
    height: 15vh;
    width: auto;
    filter: drop-shadow(1px 1px #636363);
}
.navBarLinks {
    color: #A16D8F;
    font-size: 4vh;
    padding: 5vh 5vh;
    text-decoration: none;
    text-shadow: 0 1px 1px #636363;
}
.navBarLinks:hover {
    color: #cc97b8;
    text-decoration: underline;
    text-decoration-style: wavy;
    text-decoration-color: rgba(204, 151, 184, 0.5);
}

/*About Me section styling*/
#aboutMe {
    display: flex;
    flex-direction: row;
    flex: 50%;
    padding-top: 2vh;
}
#aboutDescription {
    padding: 0 60px 0 60px;
}
#profilePic {
    height: 70vh;
    width: auto;
    border-radius: 50%;
    align-self: center;
}
#myName {
    font-size: 5vw;
    text-align: center;
    color: #A16D8F;
    font-family: "Molle", cursive;
    text-shadow: 1px 1px 1px #636363;
    font-weight: lighter;
    margin: 0;
}
#jobTitle {
    font-size: 2.5vw;
    color: #636363;
    text-align: center;
    font-weight: 300;
    margin: -2vh 0;
}
.aboutParagraph {
    color: #636363;
    font-size: 1.25vw;
}


/*Font styling & color*/
h2 {
    color: #A16D8F;
    font-size: 3.5vw;
    font-family: "Molle", cursive;
    text-shadow: 1px 1px 1px #636363;
    text-align: center;
}